body {
    background-image: url("https://images.unsplash.com/photo-1600298882438-de4298571be4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fG91dGRvb3JzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60");
    background-size: 100%;
    font-family: 'Alata', sans-serif;

}
#logo {
    font-family: 'Fasthand', cursive;
    font-size: 35px;
    position: fixed;
    margin-top: -6%;
    padding: 10px;
    color: white;
}
#logout:hover {
   text-decoration: dotted;
}
#profilepicture {
    height: 65px;
    width: 65px;
    border-radius: 30px;
    margin-left: 85%;
    margin-bottom: 15%;
    margin-top: -4%;
    
}
#profilepage {
    height: 45px;
    width: 55px;
    background-color: transparent;
    border-style: none;
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    position: absolute;
    margin-top: -3.5%;
    color: white;
}
#profilepage:hover {
    background-color: rgb(215, 228, 231);
    border-radius: 20px;
}
#logout {
    height: 45px;
    width: 55px;
    background-color: transparent;
    border-style: none;
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    margin-left: 77%;
    margin-top: -1%;
    color: white;
    
}
#logout:hover {
    background-color: rgb(215, 228, 231);
    border-radius: 20px;
}

.hikingdropbtn {
    background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Alata', sans-serif;
  position: relative;
  
}

.hikingdropbtn:hover, .hikingbtn:focus {
    background-color: rgb(215, 228, 231);
    border-radius: 20px;
    
}

.hikingdropdown {
    position: relative;
  display: inline-block;
  
}

.hikingdropdown-content {
    display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: transparent;
  
}

.hikingdropdown-content img {
    max-width: 160px;
}
.hikingdropdown-content a {
    color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: rgb(6, 6, 10);
  
}
.hikingdropdown-content a:hover {background-color: #ddd;}
.hikingshow {display:block;}

.runningdropbtn {
    background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Alata', sans-serif;
  position: relative;
}

.runningdropbtn:hover, .runningbtn:focus {
    background-color: rgb(215, 228, 231);
    border-radius: 20px;
}

.runningdropdown {
    position: relative;
  display: inline-block;
}

.runningdropdown-content {
    display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: transparent;
}
.runningdropdown-content img {
    max-width: 160px;
}
.runningdropdown-content a {
    color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: rgb(6, 6, 10);
}
.runningdropdown-content a:hover {background-color: #ddd;}
.runningshow {display:block;}

.campdropbtn {
    background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Alata', sans-serif;
  position: relative;
  
}

.campdropbtn:hover, .campingbtn:focus {
    background-color: rgb(215, 228, 231);
    border-radius: 20px;
}

.campdropdown {
    position: relative;
  display: inline-block;
}

.campdropdown-content {
    display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: transparent;
}

.campdropdown-content img {
    max-width: 160px;
}
.campdropdown-content a {
    color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: rgb(6, 6, 10);
}
.campdropdown-content a:hover {background-color: #ddd;}
.campshow {display:block;}

.lakesdropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Alata', sans-serif;
  position: relative;
}

.lakesdropbtn:hover, .lakesdropbtn:focus {
    background-color: rgb(215, 228, 231);
    border-radius: 20px;
}

.lakesdropdown {
  position: relative;
  display: inline-block;
}

.lakesdropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: transparent;
}
.lakesdropdown-content img {
    max-width: 160px;
}



.lakesdropdown-content a {
  color: rgb(245, 241, 241);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: rgb(6, 6, 10);
  border-radius: 3px;
}

.lakesdropdown-content a:hover {background-color: #ddd;}
.lakesshow {display:block;}
#movearound {
    display: flex;
    justify-content: space-evenly;
}   